<nav class="navbar fixed-top navbar-light bg-light">
    <a class="navbar-brand" href="/datalist" style="margin-left: 1em; font-weight: bold;"> TAKERU </a>
  <span class="navbar-brand mb-0">takertakeru@gmail.com</span>
</nav>
<br>
<br>
<br>